.find-screen {
  height: 130vh;
}
.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  margin-bottom: 25px;
  padding: 25px 0px;
}
.recommended-friends__title {
  font-size: 16px;
  color: var(--font-grey);
}
.recommended-friends span {
  display: block;
  text-align: center;
  margin: 90px 0px;
  color: var(--font-grey);
  font-size: 16px;
}
.open-chat {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.open-chat__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}
.open-chat__header > div {
  opacity: 0.6;
  font-size: 13px;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 97px;
}
.open-post__column:first-child {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.open-post__title {
  display: flex;
  font-size: 18px;
  font-weight: 600;
}
.open-post__hashtag {
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--font-grey);
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__column:first-child > span,
.open-post__column:first-child > div {
  margin-bottom: 5px;
}
.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__members span {
  display: flex;
  align-items: center;
}
.open-post__member-count {
  font-size: 14px;
  opacity: var(--soft);
}
.open-post__members .divider {
  width: 1px;
  height: 15px;
  background-color: black;
  opacity: var(--soft);
  margin: 0px 5px;
}
.open-post__member-status {
  color: #ffb0e0;
}
.post-photo {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.post-photo img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}
.open-post__like-count {
  position: absolute;
  bottom: 7px;
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  font-size: 12px;
}
.open-post__like-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__like-count:hover i {
  will-change: transform; /*그래픽카드를 이용해 애니메이션ㅇ르 가속화하고 브라우저를 도와준다.
   흔들리는 엘리멘트를 안흔들리게 해줬음*/
  animation: heartBeat 1s linear infinite;
}
