#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 8px 0px;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: -10px;
  color: var(--font-grey);
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends__screen {
  padding: var(--horizontal-space);
}
.friends-screen__channel {
  padding-top: 10px;
}
.friends-screen__channel-header {
  display: flex;
  padding-top: 10px;
  border-top: var(--main-border);
  justify-content: space-between;
  margin-bottom: 30px;
  color: var(--font-grey);
}

@keyframes hideSpalsh {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden; /*마우스에 걸리지 않게 사라지게 해주는 설정*/
    /*display:none 으로는 안사라짐*/
  }
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0; /*위치를 지정하는 순간 다른 레이어로 올라가서 진짜 화면크기로 커져서 모든 것을 덮는다*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 122px;
  animation: hideSpalsh 0.1s ease-in-out forwards;
  /*to {} 상태를 계속 지속하게 해주는 forwards */
  animation-delay: 1s;
}
