.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding: var(--horizontal-space);
  margin: 20px 0px 0px 0px;
}
/*※status-bar의 position 을 fixed로 해놓으셨을 경우 screen-header를 다음처럼 하시면 됩니다.*/
.screen-header__title {
  font-size: 32px;
  font-weight: bold;
}
.screen-header__icons span {
  margin-left: 25px;
}
.screen-header__icons {
  position: relative;
}
